html, body {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    font-family: message-box, sans-serif; /* using system font */
    font-size: 13px;
}

#background {
    overflow: hidden;

}

#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    width: 100%;
    height: 40px;
    margin: 0;
    border: 0;
    padding: 1px 6px 0 2px;
    border-bottom: 1px solid #ccc;
}

#content {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 40px;
    width: 100%;
    height: auto;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Consolas", "Lucida Sans Typewriter", "Courier New", Courier, monospace;
    font-size: 13px;
    line-height: 18px;
    white-space: pre-wrap;
}

#footer {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    margin: 0;
    border: 0;
    padding: 0;
    border-top: 1px solid #ccc;
}

#input {
    position: absolute;
    top: 11px;
    left: 9px;
    right: 15px;
    bottom: 17px;
    margin: 0;
    border: 0;
    padding: 0;
}

#filters {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: 100%;
    margin: 0;
    padding: 2px;
    overflow: auto;
    font-family: "Consolas", "Lucida Sans Typewriter", "Courier New", Courier, monospace;
    font-size: 14px;
    line-height: 17px; /* don't remove, used for sizing */
    white-space: pre-wrap;
}

#title {
    margin: 0;
    padding: 12px;
}

#reload {
    margin: 0;
    padding: 9px;
}

.button {
    position: relative;
    width: 100%;
    text-align: center;
    line-height: 1.5em;
    cursor: pointer;
    padding: 1px 4px 1px 4px;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid #aaa;
    border-bottom: 2px solid #aaa;

    color: ButtonText;
    background: ButtonFace; /* Old browsers */
    background: -moz-linear-gradient(top, #f7f4ec 0%, #d7d3cc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f4ec), color-stop(100%,#d7d3cc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f7f4ec 0%,#d7d3cc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f7f4ec 0%,#d7d3cc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f7f4ec 0%,#d7d3cc 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f7f4ec 0%,#d7d3cc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f4ec', endColorstr='#d7d3cc',GradientType=0 ); /* IE6-9 */
}

    .button:hover {
        background: #fbf8ef; /* Old browsers */
        background: -moz-linear-gradient(top, #fbf8ef 0%, #dcd8d0 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbf8ef), color-stop(100%,#dcd8d0)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #fbf8ef 0%,#dcd8d0 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #fbf8ef 0%,#dcd8d0 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #fbf8ef 0%,#dcd8d0 100%); /* IE10+ */
        background: linear-gradient(to bottom, #fbf8ef 0%,#dcd8d0 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbf8ef', endColorstr='#dcd8d0',GradientType=0 ); /* IE6-9 */
    }

    .button:active {
        background: #d3cfc8; /* Old browsers */
        background: -moz-linear-gradient(top, #d3cfc8 0%, #e7e4dc 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3cfc8), color-stop(100%,#e7e4dc)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #d3cfc8 0%,#e7e4dc 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #d3cfc8 0%,#e7e4dc 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #d3cfc8 0%,#e7e4dc 100%); /* IE10+ */
        background: linear-gradient(to bottom, #d3cfc8 0%,#e7e4dc 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3cfc8', endColorstr='#e7e4dc',GradientType=0 ); /* IE6-9 */
    }
